################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CppProperties.json
/data.txt
/verlet.x
/verlet.exe
/VanDerWaalsPressure.nb
/test.lib
/test.exp
/test.exe
/test.cu
/potentialEnergies.txt
/particles_animation.mp4
/mc_energy.lib
/mc_energy.exp
/mc_energy.exe
.DS_Store
.clang-format
.clangd
.idea/MDArgon.iml
.idea/copilot.data.migration.ask2agent.xml
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
CMakeCache.txt
CMakeFiles/
Makefile
_deps/
cmake_install.cmake
compile_commands.json
nlohmann/
energies.png
macro_plot.png
